<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About
        link(rel="stylesheet", href="styles/main.min.css")
    body
        include view/header__about.pug
        include view/main__about.pug
        script(src="script/about.js")