<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title book
        link(rel="stylesheet", href="styles/main.min.css")
    body
        include view/header__book.pug
        include view/main__book.pug
        script(src="script/book.js")