<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact
        link(rel="stylesheet", href="styles/main.min.css")
    body
        include view/header__contact.pug
        include view/main__contact.pug
        script(src="script/contact.js")