<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Elastic Project
        link(rel="stylesheet", href="styles/main.min.css")
    body  
    .slider 
        include view/header.pug
        include view/main.pug
    script(src="script/common.js")