header.header__contact
    .container  
        nav.header__nav
            a(href="#!").header__nav-logo   
                img(src="images/header_logo.webp", alt="")
            a.header__burger(href="#!")
                span
            ul.header__nav-list
                li
                    a(href="./index.html").header__nav-link Home
                li
                    a(href="./book.html").header__nav-link Book
                li
                    a(href="./contact.html").header__nav-link Contact
                li
                    a(href="./about.html").header__nav-link.active About