.slider 
    .slider__items  
        .slider__item.slider__item1.active
            .container
                .slider__about
                    .slider__about-icons
                        a(href="#!").slider__about-links
                            span.fab.icon-behanse
                        a(href="#!").slider__about-links
                            span.fab.icon-facebook
                        a(href="#!").slider__about-links
                            span.fas.icon-insta
                    .slider__about-info
                        p.slider__about-description We take photos asa return ticket to a moment otherwise gone
                        a(href="#!").slider__about-btn 
                            span.slider__about-btnSpan Book now
                            span.slider__about-waves 
                .viewMore
                    a(href="#!").viewMore-links View more
                        span.fas.icon-down.viewMore-icon
                        
        .slider__item.slider__item2
            .slider__item2-inner
                    .slider__item2-about
                       .slider__item2-info
                             h1.slider__item2-title BEAUTY
                             p.slider__item2-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item2-btn
                                a(href="#!").slider__item2-link Take a look
                                    span.fal.icon-arrow.slider__item2-icon
            .slider__gradient2

        .slider__item.slider__item3
            .slider__item3-inner
                    .slider__item3-about
                       .slider__item3-info
                             h1.slider__item3-title POTRAIT
                             p.slider__item3-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item3-btn
                                a(href="#!").slider__item3-link Take a look
                                    span.fal.icon-arrow.slider__item3-icon
            .slider__gradient3

        .slider__item.slider__item4
            .slider__item4-inner
                    .slider__item4-about
                       .slider__item4-info
                             h1.slider__item4-title FASHION
                             p.slider__item4-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item4-btn
                                a(href="#!").slider__item4-link Take a look
                                    span.fal.icon-arrow.slider__item4-icon
            .slider__gradient4

        .slider__item.slider__item5
            .slider__item5-inner
                    .slider__item5-about
                       .slider__item5-info
                             h1.slider__item5-title MEETINGS
                             p.slider__item5-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item5-btn
                                a(href="#!").slider__item5-link Take a look
                                    span.fal.icon-arrow.slider__item5-icon
            .slider__gradient5

        .slider__item.slider__item6
            .slider__item6-inner
                    .slider__item6-about
                       .slider__item6-info
                             h1.slider__item6-title PEOPLE
                             p.slider__item6-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item6-btn
                                a(href="#!").slider__item6-link Take a look
                                    span.fal.icon-arrow.slider__item6-icon
            .slider__gradient6

        .slider__item.slider__item7
            .slider__item7-inner
                    .slider__item7-about
                       .slider__item7-info
                             h1.slider__item7-title PRODUCT
                             p.slider__item7-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item7-btn
                                a(href="#!").slider__item7-link Take a look
                                    span.fal.icon-arrow.slider__item7-icon
            .slider__gradient7
            
        .slider__item.slider__item8
            .slider__item8-inner
                    .slider__item8-about
                       .slider__item8-info
                             h1.slider__item8-title COUPLE
                             p.slider__item8-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item8-btn
                                a(href="#!").slider__item8-link Take a look
                                    span.fal.icon-arrow.slider__item8-icon
            .slider__gradient8
            
        .slider__item.slider__item9
            .slider__item9-inner
                    .slider__item9-about
                       .slider__item9-info
                             h1.slider__item9-title NATURE
                             p.slider__item9-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item9-btn
                                a(href="#!").slider__item9-link Take a look
                                    span.fal.icon-arrow.slider__item9-icon
            .slider__gradient9
            
        .slider__item.slider__item10
            .slider__item10-inner
                    .slider__item10-about
                       .slider__item10-info
                             h1.slider__item10-title BIRTHDAYS
                             p.slider__item10-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper ornare odio ultrices elementum ut.  
                             .slider__item10-btn
                                a(href="#!").slider__item10-link Take a look
                                    span.fal.icon-arrow.slider__item10-icon
            .slider__gradient10
            
        .slider__item.slider__item11
            .slider__item11-inner
                    .container
                        .slider__item11-link
                            a(href="#!").slider__item-linkTop
                                span.fas.icon-up.slider__item11-icon Back to top
                        .slider__item11-info
                            .slider__item11-experience
                                p.slider__item11-num 25
                                p.slider__item11-text Years experience offreelance photography
                            .slider__item11-worked
                                .slider__item11-title
                                    p.slider__item11-num 49
                                    p.slider__item11-text Projects worked on and counting
                            .slider__item11-client
                                p.slider__item11-num 36
                                p.slider__item11-text Stable client currently trust us and are booked
                        a(href="#!").slider__item11-btn Book now
    .slider__indicators
        button.prev_slide
        ul.slider__indicators-list
            -for(var i = 0; i < 11; i++)
                case i
                    when 0
                        li.slider__indicator.active
                    default
                        li.slider__indicator
        button.next_slide                    
                        
                
                       
                                
            