main.contact__main
    .container
        .contact__main-wrapper
            .contact__main-left
                img(src="../images/logo_large.webp" alt="").contact__main-img
                .contact__left-icons
                    a(href="#!").slider__about-links
                        span.fab.icon-behanse
                    a(href="#!").slider__about-links
                        span.fab.icon-facebook
                    a(href="#!").slider__about-links
                        span.fas.icon-insta
            .about__right
                h1.about__right-title About
                p.about__right-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non nunc eleifend id pulvinar. Id pretium feugiat dignissim quisque. Duis purus tellus duis nunc rhoncus, ultrices id in ipsum. Eget sit tempor habitant id turpis imperdiet ut. 
                p.about__right-desc.desc2 If you are looking to make enquiries, kindly  contact us or make your booking here.